---
language: python

sudo: true

install:
  - pip install ansible

script:
  - rm -rf ~/.gitconfig
  - git clone https://github.com/Makapoxa/dotfiles.git /var/tmp/dotfiles
  - cd /var/tmp/dotfiles
  - make
